---
import { Image } from 'astro:assets';

import illustrationsOtoboke1 from '../assets/illustrations-otoboke-1.png';
import illustrationsOtoboke2 from '../assets/illustrations-otoboke-2.png';
import illustrationsToboke3 from '../assets/illustrations-toboke-3.png';
import illustrationsOtoboke4 from '../assets/illustrations-otoboke-4.png';
import illustrationsOtoboke5 from '../assets/illustrations-otoboke-5.png';
import illustrationsSandwich6 from '../assets/illustrations-sandwich-6.png';
import illustrationsEmmagoldman7 from '../assets/illustrations-emmagoldman-7.png';
import illustrationsEmmagoldman8 from '../assets/illustrations-emmagoldman-8.png';
import illustrationsShindig9 from '../assets/illustrations-shindig-9.png';
import illustrationsShindig10 from '../assets/illustrations-shindig-10.png';
import illustrationsShindig11 from '../assets/illustrations-shindig-11.png';
import illustrationsShindig12 from '../assets/illustrations-shindig-12.png';
import illustrationsMitch13 from '../assets/illustrations-mitch-13.png';
import illustrationsCalendar14 from '../assets/illustrations-calendar-14.png';
import illustrationsForest15 from '../assets/illustrations-forest-15.png';
---

<section id="illustrations" class="page-section section-illustrations">
	<h2>ILLUSTRATIONS</h2>
	<div class="section-gallery">
		<div class="gallery-row">
			<Image src={illustrationsOtoboke1} alt="" />
			<Image src={illustrationsOtoboke2} alt="" />
			<Image src={illustrationsToboke3} alt="" />
		</div>
		<div class="gallery-row">
			<Image src={illustrationsOtoboke4} alt="" />
			<Image src={illustrationsOtoboke5} alt="" />
			<Image src={illustrationsSandwich6} alt="" />
		</div>
		<div class="gallery-row">
			<Image src={illustrationsEmmagoldman7} alt="" />
			<Image src={illustrationsEmmagoldman8} alt="" />
			<Image src={illustrationsShindig9} alt="" />
		</div>
		<div class="gallery-row">
			<Image src={illustrationsShindig10} alt="" />
			<Image src={illustrationsShindig11} alt="" />
			<Image src={illustrationsShindig12} alt="" />
		</div>
		<div class="gallery-row">
			<Image src={illustrationsMitch13} alt="" />
			<Image src={illustrationsCalendar14} alt="" />
			<Image src={illustrationsForest15} alt="" />
		</div>
	</div>
</section>

<style>
	.section-illustrations {
		background: #F2D7FF;
		padding-left: clamp(1rem, 5vw, 80px);
		padding-right: clamp(1rem, 5vw, 80px);
	}

</style>
